<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Brandon Jernigan" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/stylsheets/post.css">
  <link rel="stylesheet" href="/stylesheets/post.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800,400' rel='stylesheet' type='text/css'>
  <link rel="image_src" href="{{ page.thumbnail }}" />

<div id="home-link">
	<a href="/"><i class="icon-double-angle-left"></i></a>
</div>

</head>

<body id="{{ page.tags }}">
  <section id="content">
    <header>
      <h1><a href="#">{{ page.title }}</a></h1>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
    <hr />
      <div class="site">
<div class="title">
<a href="http://twitter.com/JUN1U5"><img src="http://icons.iconarchive.com/icons/danleech/simple/64/twitter-icon.png"></a>
<a href="/"><img src="/images/home_white.png" height="64" width="64"></a>
</div>
<!--  — <a href="http://twitter.com/JUN1U5">Brandon Jernigan</a> -->
    </footer>
  </section>
</body>
</html>

<!-- post.css and _layout adapted from http://quaran.to/ -->
